<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Regression" verbose="5" parallel="methods" thread-count="10">
    <listeners>
        <listener class-name="com.codeborne.selenide.testng.BrowserPerTest"/>
    </listeners>
    <test name="Checkout">
        <packages>
            <package name="qa.eom.front.tests.*"/>
        </packages>
    </test>
</suite>
